t1/t1-guidelines.pdf
t1/t1
t1/saida
t2/t2-guidelines.pdf
t2/t2
t2/tests/saida
t3/t3-enunciado.pdf
t3/t3-guidelines.pdf
t3/t3
t3/tests/saida
t4/t4-guidelines.pdf
t4/t4
t4/tests/saida
t5/Problemas2018_v2.pdf
t5/t5
t5/saida
t5/in
t5/sol
t6/t6
t6/arbitragem.*
t6/Problemas2014_v6.pdf
t6/saida
